<h1 class='text-success'>Listing students</h1>
<%= form_tag students_export_path(format: 'csv'), method: :post do %>
<table id="students" class="cell-border stripe">
  <thead>
    <tr>
      <th></th>
      <th>Name </th>
      <th>Register no </th>
      <th>Maths </th>
      <th>Science </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
       <td><%= check_box_tag "selected[]", student.id %></td>
        <td><%= student.name %></td>
        <td><%= student.register_no %></td>
        <td><%= student.maths %></td>
        <td><%= student.science %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
   <tfoot>
    <tr>
      <th></th>
      <th><input type="text" class="form-control form-control-sm column-search" data-column="1" placeholder="Search"></th>
      <th><input type="text" class="form-control form-control-sm column-search" data-column="2" placeholder="Search"></th>
      <th><input type="text" class="form-control form-control-sm column-search" data-column="3" placeholder="Search"></th>
      <th><input type="text" class="form-control form-control-sm column-search" data-column="4" placeholder="Search"></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>
 <%= submit_tag "Export Selected Rows" %>
<% end %>
<br>

<%= link_to 'New Student', new_student_path %>




<script>
  $(document).ready( function () {
    var table = $('#students').DataTable( {
      dom: 'Bfrtip',
      buttons: [
        'copy', 'excel', 'pdf', 'print'
      ],
    columnDefs: [
      {
        "targets": '_all',
        "className": "dt-center",
      }
    ],
    "processing": true,
      "serverSide": true,
      "ajax": {
        "url": "<%= students_search_path %>",
        "data": function(d) {
          d.column = $('input.column-search').index($(this));
          d.query = this.value;
        }
      }
  });
  
  
  $('form').on('submit', function() {
      var selected = $('#students input[type="checkbox"]:checked').map(function() {
        return $(this).val();
      }).get().join(',');
      $(this).attr('action', $(this).attr('action') + '?selected=' + selected);
    });
    
});

</script>

